body{
    background-color: rgb(79, 76, 76);
    color: white;
}
form{
    width: 30%;
    margin: 0 auto;
}

.box { 
    
    margin: 0 auto;
    /*definimos a largura do box*/
	width:600px;
	/* definimos a altura do box */
	height:300px;
    /* definimos a cor de fundo do box */
	background-color: chartreuse;
	/* definimos o quão arredondado irá ficar nosso box */
	border-radius: 10px;
    
    }
footer {
        position: absolute;
        bottom: 0;
        background-color: black;
        color: #FFF;
        width: 100%;
        height: 100px;    
        text-align: center;
        line-height: 100px;
    }